{% extends 'base.html' %}
{% block content %}
    <h1>{{header}}</h1>
    <form action="{{action}}" method="POST">
        <div class="row my-1">
            <label for="title" class="col-2">Title</label>
            <input class="form-control col" id="title" name="title" type="text" value='{{post_title}}'>
        </div>
        <div class="row my-1">
            <label for="Content" class="col-2">Content</label>
            <textarea class="form-control col" id="content" name="content">{{post_content}}</textarea>
        </div>

        {% for tag in tags %}
        <div>
            <input type='checkbox' id="tag_{{tag.id}}" name="tags" value="{{tag.id}}" {% if tag in post_tags %}checked{%endif%}>
            <label for="tag_{{tag.id}}">{{tag.name}}</label>
        </div>
        {% endfor %}
        <button formaction='/users/{{user.id}}'
        formmethod='GET' class="btn btn-outline-primary">Cancel</button>
        <button type="submit" class="btn btn-success">{{button_text}}</button>
    </form>
{% endblock %}